.bottomline {
  /* position: absolute; */
  top: 74.45px;
  /* border: 2px solid; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  z-index: 1;
  gap: 40px;
  margin: 5px 0px;
  /* background: linear-gradient(lightseagreen, seagreen); */
}
.wholeContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

#imgBottomLine {
  height: 40px;
  width: 40px;
}
#imgBottomLine img {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  filter: invert(100%);
}
